/* CSS for app */

.btnGreen{
	-fx-background-color:  #3cbc53;
}

.btnPrimary{
	-fx-background-color: #3c42bc;
}

.btnCall{
	-fx-background-color: #05796c;
}

.background{
	-fx-background-color: DODGERBLUE;
}

